*Makefile
*Makefile.in
WINGs/get-wings-flags
WINGs/get-wutil-flags
WINGs/WINGs.pc
aclocal.m4
autom4te.cache*
config.guess
config.log
config.status
config.sub
configure
contrib/WindowMaker.spec
libtool
ltmain.sh
src/config.h
src/config.h.in
src/stamp-h1
src/wconfig.h
wmlib/wmlib.pc
wrlib/get-wraster-flags
wrlib/wrlib.pc
*.o
*.lo
WINGs/Examples/.libs/colorpick
WINGs/Examples/.libs/fontl
WINGs/Examples/.libs/puzzle
WINGs/Examples/colorpick
WINGs/Examples/connect
WINGs/Examples/fontl
WINGs/Examples/puzzle
WINGs/Examples/server
WINGs/Extras/.libs/test
WINGs/Extras/libExtraWINGs.a
WINGs/Extras/test
WINGs/Tests/.libs/testmywidget
WINGs/Tests/.libs/wmfile
WINGs/Tests/.libs/wmquery
WINGs/Tests/.libs/wtest
WINGs/Tests/testmywidget
WINGs/Tests/wmfile
WINGs/Tests/wmquery
WINGs/Tests/wtest
WINGs/libWINGs.a
WINGs/libWUtil.a
WPrefs.app/.libs/WPrefs
WPrefs.app/WPrefs
WindowMaker/Defaults/WMRootMenu
WindowMaker/Defaults/WMState
WindowMaker/Defaults/WMWindowAttributes
WindowMaker/Defaults/WindowMaker
WindowMaker/IconSets/Default.iconset
src/.libs/wmaker
src/wmaker
test/wtest
util/.libs/wmagnify
util/.libs/wmsetbg
util/.libs/wmsetup
util/convertfonts
util/geticonset
util/getstyle
util/seticons
util/setstyle
util/wdread
util/wdwrite
util/wmagnify
util/wmaker.inst
util/wmsetbg
util/wmsetup
util/wxcopy
util/wxpaste
wmlib/libWMaker.a
wrlib/.libs/libwraster.a
wrlib/.libs/libwraster.la
wrlib/.libs/libwraster.lai
wrlib/.libs/libwraster.so
wrlib/.libs/libwraster.so.3
wrlib/.libs/libwraster.so.3.1.0
wrlib/libwraster.la
wrlib/tests/.libs/testdraw
wrlib/tests/.libs/testgrad
wrlib/tests/.libs/testrot
wrlib/tests/.libs/view
wrlib/tests/testdraw
wrlib/tests/testgrad
wrlib/tests/testrot
wrlib/tests/view
