Source: wmaker
Section: x11
Priority: optional
Maintainer: Debian Window Maker Team <pkg-wmaker-devel@lists.alioth.debian.org>
Uploaders: Rodolfo García Peñas (kix) <kix@debian.org>,
           Andreas Metzler <ametzler@debian.org>,
           Doug Torrance <dtorrance@piedmont.edu>
Standards-Version: 3.9.6
Build-Depends: automake (>= 1:1.12),
               dctrl-tools,
               debhelper (>= 9),
               dh-autoreconf,
               gettext,
               libfontconfig1-dev,
               libgif-dev,
               libjpeg-dev,
               libpng-dev,
               libsm-dev,
               libtiff5-dev,
               libtool,
               libx11-dev,
               libxext-dev,
               libxft-dev,
               libxinerama-dev,
               libxkbfile-dev,
               libxmu-dev,
               libxpm-dev,
               libxrandr-dev,
               libxrender-dev,
               libxt-dev,
               sharutils
Homepage: http://windowmaker.org/
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-wmaker/wmaker.git
Vcs-Git: https://anonscm.debian.org/git/pkg-wmaker/wmaker.git

Package: wmaker
Architecture: any
Multi-Arch: foreign
Depends: wmaker-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: x-window-manager
Suggests: desktop-base, menu, wmaker-data, x-terminal-emulator, x11-apps
Description: NeXTSTEP-like window manager for X
 Written by Alfredo Kojima almost from scratch, resembles the NeXTStep look
 very closely, and it is now an official GNU project. Window Maker (originally
 named WindowMaker) is not overloaded with features, and it is easier to
 configure than most other window managers. Its final goal is to produce a
 window manager that doesn't require editing of configuration files.
 Window Maker is fast and doesn't require tons of memory to run.

Package: wmaker-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: wmaker
Description: Window Maker - Architecture independent files
 Written by Alfredo Kojima almost from scratch, resembles the NeXTStep look
 very closely, and it is now an official GNU project. Window Maker (originally
 named WindowMaker) is not overloaded with features, and it is easier to
 configure than most other window managers. Its final goal is to produce a
 window manager that doesn't require editing of configuration files.
 Window Maker is fast and doesn't require tons of memory to run.
 .
 This package contains the architecture independent files.

Package: libwraster-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libc6-dev,
         libgif-dev,
         libjpeg-dev,
         libpng-dev,
         libtiff5-dev,
         libwraster5 (= ${binary:Version}),
         libx11-dev,
         libxext-dev,
         libxpm-dev,
         ${misc:Depends}
Breaks: libwraster3-dev
Replaces: libwraster3-dev
Description: Static libraries and headers of Window Maker rasterizer
 This library is used to manipulate images and convert them to
 a format that can be displayed through the X window system.
 Read the wraster.h header for an idea of what is available
 .
 Contains libwraster and header files, for manipulating and
 rasterizing images.

Package: libwraster5
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Shared libraries of Window Maker rasterizer
 This library is used to manipulate images and convert them to
 a format that can be displayed through the X window system.
 Read the wraster.h header for an idea of what is available

Package: libwings-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libc6-dev,
         libfontconfig1-dev,
         libwings3 (= ${binary:Version}),
         libwraster-dev,
         libwutil5 (= ${binary:Version}),
         libx11-dev,
         libxext-dev,
         libxft-dev,
         ${misc:Depends}
Description: Window Maker's own widget set
 WINGs Is Not GNUstep (WINGs) is a small widget set with the NeXTSTEP
 look and feel. Its API is inspired in OpenSTEP and its
 implementation borrows some ideas from Tk. It has a reasonable set of
 widgets, sufficient for building small applications like a CDPlayer
 or hacking something like rxvt. It is used for basic widgets in
 the WindowMaker window manager.

Package: libwutil5
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Window Maker's own widget set - utility library
 WINGs Is Not GNUstep (WINGs) is a small widget set with the NeXTSTEP
 look and feel. Its API is inspired in OpenSTEP and its
 implementation borrows some ideas from Tk. It has a reasonable set of
 widgets, sufficient for building small applications like a CDPlayer
 or hacking something like rxvt. It is used for basic widgets in
 the WindowMaker window manager.
 .
 This package contains the libWUtils runtime library.

Package: libwings3
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Window Maker's own widget set - runtime library
 WINGs Is Not GNUstep (WINGs) is a small widget set with the NeXTSTEP
 look and feel. Its API is inspired in OpenSTEP and its
 implementation borrows some ideas from Tk. It has a reasonable set of
 widgets, sufficient for building small applications like a CDPlayer
 or hacking something like rxvt. It is used for basic widgets in
 the WindowMaker window manager.
 .
 This package contains the libWINGs runtime library.

Package: wmaker-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: libwraster5 (= ${binary:Version}) | libwings3 (= ${binary:Version}) | libwutil5 (= ${binary:Version}) | wmaker (= ${binary:Version}),
         ${misc:Depends}
Description: Debugging symbols for WindowMaker packages
 Written by Alfredo Kojima almost from scratch, resembles the NeXTStep look
 very closely, and it is now an official GNU project. Window Maker is not
 overloaded with features, and it is easier to configure than most other window
 managers. Its final goal is to produce a window manager that doesn't require
 editing of configuration files. Window Maker is fast and doesn't require tons
 of memory to run.
 .
 This package contains debugging symbols for Window Maker and its core
 libraries (libWINGs, libWutils, libwraster).
