#!/usr/bin/make -f
# export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND += -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

LINGUAS           := $(patsubst po/%.po, %, $(wildcard po/*.po))

WMAKER_OPTIONS := --disable-xlocale --enable-modelock --enable-pango \
                  --enable-xinerama --enable-magick
#not-enabled      --enable-usermenu --disable-shape --disable-shm --enable-randr
#not-enabled      --disable-xpm --disable-png --disable-jpeg --disable-gif --disable-tiff

# Debian packages destination folder
DEBIAN_TMP        := debian/tmp

# Be careful with the leading / because some of these values are going
# to be hardcoded into the executables
BASEDIR           := /usr
INCLUDEDIR        := $(BASEDIR)/include
SHAREDIR          := $(BASEDIR)/share
GNUSTEPDIR        := $(SHAREDIR)/GNUstep/System
WMSHAREDIR        := $(SHAREDIR)/WindowMaker
PIXMAPDIR         := $(INCLUDEDIR)/X11/pixmaps
DEFSDATADIR       := /etc/GNUstep/Defaults

COMMON_OPTIONS    := --datadir=$(SHAREDIR)            \
                     --with-pixmapdir=$(PIXMAPDIR)    \
                     --with-gnustepdir=$(GNUSTEPDIR)  \
                     --with-defsdatadir=$(DEFSDATADIR)

%:
	dh $@

override_dh_auto_configure:
	env LINGUAS="$(LINGUAS)" dh_auto_configure --verbose -- \
		$(COMMON_OPTIONS) $(WMAKER_OPTIONS)

override_dh_installdocs:
	# Readmes - Copy+rename before install
	# We use the root of the temporal directory debian/tmp
	cp po/README $(DEBIAN_TMP)/README.po
	cp README.definable-cursor $(DEBIAN_TMP)/README.definable-cursor
	cp WindowMaker/Icons/README $(DEBIAN_TMP)/README.Icons
	cp WindowMaker/README $(DEBIAN_TMP)/README.menu
	cp WindowMaker/README.themes $(DEBIAN_TMP)/README.themes
	cp WPrefs.app/README $(DEBIAN_TMP)/README.WPrefs
	cp WPrefs.app/po/README $(DEBIAN_TMP)/README.WPrefs.po
	dh_installdocs

override_dh_install:
	# Fix perms for /usr/share/WindowMaker/*sh before install them
	chmod +x $(DEBIAN_TMP)$(WMSHAREDIR)/autostart.sh
	chmod +x $(DEBIAN_TMP)$(WMSHAREDIR)/exitscript.sh

	# Install files
	dh_install -XREADME

override_dh_installwm:
	dh_installwm --priority=50
